{% assign url = site.baseurl | append: post.url  | replace: '/index', '' %}

<article class="post_flat" onclick="window.location = '{{url}}'">

    <p class="date">
        {% assign d = post.date | date: "%-d" %}
        {% case d %}{% when "1" or "21" or "31" %}{{ d }}ST{% when "2" or "22" %}{{ d }}ND{% when "3" or "23" %}{{ d }}RD{% else %}{{ d }}TH{% endcase %}
        {{ post.date | date: "%B" | upcase }}
        {{ post.date | date: "%Y" | upcase }}
    </p>

    <div class="article_text_div">
        <div>
            <h1><a href="{{url}}">
                <span class="post_emoji">
                    {{post.emoji}}
                </span>{{ post.title | markdownify | remove: '<p>' | remove: '</p>' }}
            </a></h1>
        </div>

        <div class="post_blurb">
            <p>
                {{ post.summary | markdownify }}
            </p>
        </div>
    </div>

</article>