<meta charset='utf-8'>


{% if page.title == "Home" %}
<title>Tareq Dandachi</title>
{% else %}
<title>{{ page.title }} | Tareq Dandachi</title>
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/resources/main.css">
<link rel="shortcut icon" href="/resources/favicon.ico"/>

<meta name="description" content="Tareq Dandachi's Portfolio & Work">

<meta property="og:title" content="Tareq Dandachi">
<meta property="og:description" content="UI Designer, Electrical Engineer, Computer Scientist and a Biomechatronics Engineer.">
<meta property="og:image" content="https://tareqdandachi.github.io/resources/og-image.png">
<meta property="og:url" content="https://tareqdandachi.github.io">

<meta property="twitter:title" content="Tareq Dandachi">
<meta property="twitter:description" content="UI Designer, Electrical Engineer, Computer Scientist and a Biomechatronics Engineer.">
<meta property="twitter:image" content="https://tareqdandachi.github.io/resources/og-image.png">
<meta property="twitter:url" content="https://tareqdandachi.github.io">
<meta name="twitter:site" content="@tareqdandachi">
