<meta charset='utf-8'>


{% if page.title == "Home" %}
<title>Torque Dandachi</title>
{% else %}
<title>{{ page.title }} | Torque Dandachi</title>
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#fff"/>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel=preconnect>
<link rel="stylesheet" type="text/css" href="/resources/css/main.css">
<link rel="stylesheet" type="text/css" href="/resources/css/colors.css">
<!-- <link rel="shortcut icon" href="/resources/favicon.ico"/> -->
<link rel="icon" href="/resources/favicon.png">


<meta name="description" content="Tareq Dandachi's Portfolio & Work">

<meta property="og:title" content="Tareq Dandachi">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ site.og_image }}">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="726">
<meta property="og:image:height" content="968">
<meta property="og:url" content="{{ site.url }}">

<meta property="twitter:title" content="Tareq Dandachi">
<meta property="twitter:description" content="{{site.description}}">
<meta property="twitter:image" content="{{ site.og_image }}">
<meta property="twitter:url" content="{{ site.url }}">
<meta name="twitter:site" content="@tareqdandachi">

<script src="/resources/main.js"></script>

<meta name="google-site-verification" content="f-y-ZFKp9GWsBxWzsAdEHEUtW0qn-7nb5An3KHLX638" />
<script async src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js" integrity="sha512-g2TeAWw5GPnX7z0Kn8nFbYfeHcvAu/tx6d6mrLe/90mkCxO+RcptyYpksUz35EO337F83bZwcmUyHiHamspkfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="canonical" href="https://itstorque.com"/>


{% if page.include_math_jax %}
{% include mathjax.html %}
{% endif %}