<div id="sidenav">
    <div id="nav-hello"> <a href="/#" onclick="checkSection()">Hello!</a> </div>
    <div id="nav-education"> <a href="/#education" onclick="checkSection()">Education</a> </div>
    <div id="nav-teaching"> <a href="/#teaching" onclick="checkSection()">Teaching</a> </div>
    <div id="nav-research"> <a href="/#research" onclick="checkSection()">Research</a> </div>
    <div id="nav-projects"> <a href="/#projects" onclick="checkSection()">Projects</a> </div>
</div>

<div id="mobilenav">
    <div> <a href="/#" onclick="checkSection()" _target="none">Hello!</a> </div>
    <div> <a href="/#education" onclick="checkSection()">Education</a> </div>
    <div> <a href="/#teaching" onclick="checkSection()">Teaching</a> </div>
    <div> <a href="/#research" onclick="checkSection()">Research</a> </div>
    <div> <a href="/#projects" onclick="checkSection()">Projects</a> </div>
</div>