:root {

  --pop:    #FE1717;
  --emoji:  #f1c40f; /* #FFD52E: */

  --less-pop:    #FF7777;
  --hover-pop:    #BB1313;

  --text-font-size-L: 1.4rem; /* 20px; */
  --text-font-size-M: 1.2rem; /* 18px; */

  --title-font-size: 27px;

}

.ee-color {
  color: #ff4757;
}

.cs-color {
  color: #26de81;
}

.meche-color {
  color: #1e90ff;
}

.quantum-color {
  color: #a55eea;
}

.math-color {
  color: #fa8231;
}

.bold {
  font-weight: bold;
}

::-moz-selection {
  color: white;
  background: var(--less-pop);
}

::selection {
  color: white;
  background: var(--less-pop);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, "Roboto", sans-serif;
  width: 90vw;
  font-size: var(--text-font-size-M);

  margin: 15vh auto 15vh auto;

  max-width: 600px;
  text-align: justify;
}

h1 {
  font-weight: 400;
}

h4 {
  margin-top: 35px;
  margin-bottom: -10px;
  font-weight: 500;
}

p {
  line-height: 1.7;
}

li {
  line-height: 1.7;
  margin-bottom: 5px; 
}

a {
  cursor: pointer;
  color: var(--pop);
}

a:hover {
  color: var(--hover-pop);
}

span.pop {
  color: var(--pop);
}

span.bold {
  font-weight: bold;
}

.intro {
  font-size: var(--text-font-size-L);
}

#header {

  display: flex;
  align-items: center;
  justify-content: flex-start;

  text-align: left;
  width: 100%

}

#header h1 {
  /* padding-bottom: 125px; */
  /* padding-right: 80px; */
}

#header img {

  margin-right: 50px;
  height: 250px;

}

#header .emoji-block h1 {
  animation-name: wave-hand;  /* Refers to the name of your @keyframes element below */
  animation-duration: 1.3s;        /* Change to speed up or slow down */
  animation-iteration-count: 1;  /* Never stop waving :) */
  animation-timing-function: ease-in-out;
  transform-origin: 90% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

#header .emoji-block {
  animation-name: wave-hand;  /* Refers to the name of your @keyframes element below */
  animation-duration: 1.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  animation-timing-function: ease;
  transform-origin: 90% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  animation-play-state: paused;
}

#header .emoji-block:hover {
  animation-play-state: running;
}

.quote-it::before {
  content: "\""
}

.quote-it::after {
  content: "\""
}

.landscape {
  margin: 60px 0;
  width: 100%;
}

.landscape img {
  width: 100%;
}

#sidenav {
  height: 100vh; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  padding: 20px;

  writing-mode: vertical-rl;
  text-orientation: sideways-right; /*upright;*/
  transform: scale(-1, -1);

  display: flex;
  flex-direction: row-reverse;

}

#sidenav div {
  flex-grow: 1;
  text-align: center;
}

#sidenav a {
  color: black;
  text-decoration: none;
  padding: 10px 2px;
  background: linear-gradient(to top, var(--pop) 25%, white 25%, white 50%, black 50%, black 75%, var(--pop) 75%);
  background-size: 100% 700%;
  background-position: 0% 66%;
  transition: 0.3s ease-in-out;
}

#sidenav div.selected a {
  font-weight: bold;
  color: white;
  background-position: 0% 33%;
}

#sidenav div a:hover {
  color: white;
  background-position: 0% 100%;
}

#sidenav div.selected a:hover {
  color: white;
  background-position: 0% 0%;
}

#mobilenav {
  display: none;
}

div#check-out-my-container {
  text-align: center;
  display: flex;
  margin: 30px 20px 60px 20px;
  flex-wrap: wrap;
}

#portrait {
  height: 450px;

  object-fit: cover;

}

#resume, #github, #linkedin {
  display: inline-block;
  width: max-content;
  margin: auto;
  text-align: center;
  padding: 15px 15px;
}

#resume a, #github a, #linkedin a {
  background: linear-gradient(to left, white 50%, var(--pop) 50%);
  background-position: right;

  text-align: center;
  font-weight: bold;

  color: var(--pop);
  text-decoration: none;
  text-transform: uppercase;

  padding: 8px 15px;
  background-size: 210% 100%;

  transition: 0.3s ease-in-out;
  display: inline-block;
}

#resume a p, #github a p, #linkedin a p {
  display: inline-block;
  margin: 0;
}

#resume a:hover, #github a:hover, #linkedin a:hover {
  color: white;
  background-position: left;
}

#resume a .resume_icon, #github a .github_icon, #linkedin a .linkedin_icon {
  fill: var(--pop);
  transition: 0.3s;
}

#resume a:hover .resume_icon, #github a:hover .github_icon, #linkedin a:hover .linkedin_icon {
  fill: white;
}

#resume svg, #github svg, #linkedin svg {
  height: 25px;
  margin: 0 5px -5px 5px;
}

h3.check_out_my {
  text-align: center;
  text-transform: uppercase;
}

.emoji-block {
  padding-right: 30px;
  padding-left: 5px;
  margin-left: -87px; /* 75 + 12 */
}

.emoji-word {
  font-weight: 500;
  color: var(--emoji);
  transition: 0.3s ease-in-out;
}

.emoji-word::after {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.emoji-word::before {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.emoji-word:hover {
  color: white;
}

.emoji-word:hover::after {
  opacity: 1;
}

.emoji-word:hover::before {
  opacity: 1;
}

.emoji-word.diamond::after {
  content: "💎";
  margin-left: -50px;
}

.emoji-word.glasses::after {
  content: "👓";
  margin-left: -45px;
}

.emoji-word.research::after {
  content: "🔬";
  margin-left: -50px;
}

.emoji-word.toy-design::after {
  content: "🚂🧸";
  margin-left: -95px;
  transform: translateY(-3px);
}

.emoji-word.optimal-stars::after {
  content: "✨🏎💨";
  margin-left: -70px;
  transform: translateY(0px);
}

.emoji-word.julia::before {
  content: url("/resources/julia_logo.svg");
  margin-right: -45px;
  transform: translateY(-123px) scale(0.09) translateX(-2190px);
}

.emoji-word.computation-structures::before {
  content: url("/resources/circuit_emoji.jpg");
  margin-right: -45px;
  transform: translateY(-260px) scale(0.05) translateX(-4700px);
}

.emoji-word.circuits-and-electronics::before {
  content: "🔌⚡️";
  margin-right: -45px;
  transform: translateY(-3px);
}

.emoji-word.splash-class::before {
  content: "🧑‍💻😭";
  margin-right: -45px;
  transform: translateY(-3px);
}

.title_with_emoji::before {
  position: absolute;
  margin-left: -50px;
}

#education::before {
  content: "📚";
}

#teaching { margin-top: 50px; }

#teaching::before {
  content: "🍎";
}

#research { margin-top: 50px; }

#research::before {
  content: "🔬";
}

#projects { margin-top: 50px; }

#projects::before {
  content: "🛠";
}

#ai_blurb_title::before {
  content: "🤖";
}

ul#class_list {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 30px;
    font-size: var(--text-font-size-M);
    height: 0px;
    overflow-y: hidden;
    column-fill: auto;
    text-align: left;
    margin: -15px;
    margin-top: 0px;
    transition: 0.3s;
    opacity: 0;
}

ul#class_list.unhide {
  height: auto;
  margin-bottom: 30px;
  margin-top: 40px;
  opacity: 1;
}

ul#class_list.unhide li {

  display: inline-block;

}

div.publication .author_list {
  color: rgba(0,0,0,.54); 
  font-size: 0.8rem; 
  font-style: italic; 
  text-align: left;
}

div.publication a {
  font-size: 0.9rem; 
  border: var(--pop) solid 2px; 
  border-radius: 5px; 
  padding: 0.3rem; 
  text-decoration: none;
}

#ai_blurb {
  margin-top: 4rem;
}

#toggle_class_list {
  font-size: var(--text-font-size-M);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  transition: 0.2s;

  background: linear-gradient(to right, var(--pop) 50%, white 50%);
  background-size: 205% 100%;
  background-position: right 0%;
  padding: 5px 8px;

}

#toggle_class_list:hover {
  background-position: left 0%;
  color: white;
}

#toggle_class_list.changing {
  animation-name: opacity-bump;  /* Refers to the name of your @keyframes element below */
  animation-duration: 0.2s;        /* Change to speed up or slow down */
  animation-iteration-count: 1;  /* Never stop waving :) */
  animation-timing-function: ease-in-out;
  transform-origin: 90% 70%;       /* Pivot around the bottom-left palm */
}

#toggle_class_list.changing2 {
  animation-name: opacity-bump;  /* Refers to the name of your @keyframes element below */
  animation-duration: 0.2s;        /* Change to speed up or slow down */
  animation-iteration-count: 1;  /* Never stop waving :) */
  animation-timing-function: ease-in-out;
  transform-origin: 90% 70%;       /* Pivot around the bottom-left palm */
}

.toggleSection {
  font-size: var(--text-font-size-M);
  background: linear-gradient(to right, white 50%, var(--pop) 50%);
  background-size: 205%;
  background-position: left;
  transition: 0.3s;
  padding: 5px 8px;
  margin-right: -8px;
  margin-top: 20px;
}

.toggleSection:hover {
  background-position: right;
  color: white;
}

.sectionHide {
  max-height: 0px;
  overflow-y: hidden;
  margin-top: -10px;
  transform: 0.3s;
  padding-left: 20px;
  opacity: 0;
  transition: 0.3s;
}

.sectionHide.unhide {
  max-height: 100vh;
  margin-top: 20px;
  opacity: 1;
}

.openTab {
  width: 100%;
  text-align: right;
  display: block;
  padding-top: 1em;
  height: 1em;
  padding-bottom: 1em;
  margin-top: -2em;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.openTab svg {
  transition: 0.3s ease-in-out;
}

.openTab.opened svg {
  transform: rotateZ(45deg);
  transform-origin: center;
}

.openTab path {
  fill: var(--less-pop);
}

.openTab:hover path {
  fill: var(--pop);
}

.individual-expands p {
  height: 0;
  overflow-y: hidden;
  margin: 0px;
}

.individual-expands p.loaded {
  height: auto;
  margin: -5px;
}

.individual-expands .insta-block {
  display: none;
}

.individual-expands .loaded .insta-block {
  display: block;
}

.individual-expands h4 {
  min-height: 39px;
}

.expandable {
  overflow-y: hidden;
  max-height: 100vh;
  padding-left: 20px;
  padding-top: 5px;
  font-size: var(--text-font-size-M);
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 1;
  transition: 0.3s;
}

.expandable.hidden {
  max-height: 0;
  margin: 0;
  opacity: 0;
}

.innerphoto {
  width: 80%;
  margin: 10px 10%;
}

@keyframes wave-hand {

       0% { transform: rotate( 0.0deg) }
      15% { transform: rotate(14.0deg) }
      30% { transform: rotate(-8.0deg) }
      45% { transform: rotate(14.0deg) }
      60% { transform: rotate(-4.0deg) }
      75% { transform: rotate(10.0deg) }
     100% { transform: rotate( 0.0deg) }

}


@keyframes opacity-bump {

       0% { opacity: 1; color: var(--pop); }
      50% { opacity: 0; color: var(--pop); }
     100% { opacity: 1; color: var(--white);}

}

@media (min-width:901px) {
  .mobile-only {
    display: none !important;
  }
}

@media (max-width:900px) {

  #mobilenav {
    display: block;
    left: 0;
    top: -100vh;
    background-color: white;
    position: fixed;
    width: 100vh;
    height: 100vh;
    transition: 0.3s;
    z-index: 100;
  }

  #mobilenav.active {
    top: 0;
  }

  #header {
    display: block;
    font-size: var(--text-font-size-M);
  }

  #header .emoji-block {

    display: block;
    margin: 0 0 -40px 0;
    width: min-content;

  }

  .title_with_emoji::before {

    position: relative;
    display: inline-block;
    margin-left: 0px;
    margin-right: 10px;

  }

  #sidenav {
    display: none;
  }

  .title_with_emoji {
    margin-left: 40px;
  }

  .title_with_emoji::before {
    position: absolute;
    left: 0px;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 10px;
    margin-top: -13px;
    background-color: white;
  }

  .title_with_emoji.activeSection {
    margin-top: 50px;
  }

  .title_with_emoji.activeSection::before {
    position: fixed;
    top: 13px;
  }

  #header .emoji-block {
    /* transition: 0.3s; */
    display: inline-block;
  }

  #header .emoji-block.activeSection {
    position: fixed;
    left: 0px;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 10px;
    margin-top: -13px;
    background-color: white;
    top: 13px;
    transform: rotate( 0.0deg);
    animation: none;
  }

  #header .emoji-block.activeSection h1 {
    margin: 0px;
    font-size: var(--title-font-size);
    margin-left: -3px;
    margin-right: 3px;
  }

  .mobile-only {
    display: block;
  }

  #header .emoji-block.mobile-only {
    display: inline-block;
  }

  body {
    text-align: left
  }

}

@media (max-width:460px) {

  h1 {
    font-size: 10vw;
  }

  #header {
    margin-left: -5vw;
    margin-right: -5vw;
    width: 100vw;
  }

}

/* NPR STUFF */

#nprtable {
  height: 380px;
  max-height: 380px;
  min-height: 380px;
  margin: 0;
  text-align: center;
  table-layout:fixed;
  margin: auto;
}

#nprtable td {
  width: 50%;
}

#nprtable td img {
  height: 380px;
  margin: 0;
  object-fit: contain;
}
