@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

:root {

  --pop:    #FE1717;
  --subtle: #fafafa;
  --light: #9B9B9B;
  --dark:   #1E1E1E;

}

body {
  font-family: "Roboto", sans-serif;
  width: 90vw;
  font-size: 20px;

  margin: 15vh auto 50vh auto;

  max-width: 600px;
  text-align: justify;
}

h1 {
  font-weight: 400;
}

p {
  line-height: 1.7;
}

a {
  cursor: pointer;
  color: var(--pop);
}

span.pop {
  color: var(--pop);
}

span.bold {
  font-weight: bold;
}


#header {

  display: flex;
  align-items: center;
  justify-content: flex-start;

  text-align: left;
  width: 100%

}

#header h1 {
  /* padding-bottom: 125px; */
  /* padding-right: 80px; */
}

#header img {

  margin-right: 50px;
  height: 250px;

}

.landscape {
  margin: 60px 0;
  width: 100%;
}

.landscape img {
  width: 100%;
}


#sidenav {
  height: 100vh; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  padding: 20px;

  writing-mode: vertical-rl;
  text-orientation: sideways-right; /*upright;*/
  transform: scale(-1, -1);

  display: flex;
  flex-direction: row-reverse;

}

#sidenav div {
  flex-grow: 1;
  text-align: center;
}

#sidenav a {
  color: black;
  text-decoration: none;
  padding: 10px 2px;
  background: linear-gradient(to top, white 50%, var(--pop) 50%);
  background-size: 100% 300%;
  background-position:left bottom;
  transition: 0.3s ease-in-out;
}

#sidenav div.selected a {
  font-weight: bold;
  color: white;
  background: linear-gradient(to top, black 50%, var(--pop) 50%);
  background-size: 100% 300%;
  background-position:left bottom;
}

#sidenav div a:hover {
  color: white;
  background-position: top;
}

.emoji-block {
  padding-right: 30px;
  padding-left: 5px;
  margin-left: -87px; /* 75 + 12 */
}



.emoji-word {
  font-weight: 500;
  color: #FFD52E;
  transition: 0.3s ease-in-out;
}

.emoji-word::after {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.emoji-word:hover {
  color: white;
}

.emoji-word:hover::after {
  opacity: 1;
}

.emoji-word.diamond::after {
  content: "💎";
  margin-left: -50px;
}

.emoji-word.glasses::after {
  content: "👓";
  margin-left: -45px;
}

.emoji-word.research::after {
  content: "🔬";
  margin-left: -50px;
}

#education::before {
  content: "📚";
  position: absolute;
  margin-left: -50px;
}

ul.class_list {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 30px;
    font-size: 16px;
    height: 780px;
    column-fill: auto;
    text-align: left;
    margin: -15px;
}
