@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

:root {

  --pop:    #FE1717;
  --emoji:  #f1c40f; /* #FFD52E: */

}

.ee-color {
  color: #ff4757;
}

.cs-color {
  color: #26de81;
}

.meche-color {
  color: #1e90ff;
}

.quantum-color {
  color: #a55eea;
}

.math-color {
  color: #fa8231;
}

.bold {
  font-weight: bold;
}

body {
  font-family: "Roboto", sans-serif;
  width: 90vw;
  font-size: 20px;

  margin: 15vh auto 50vh auto;

  max-width: 600px;
  text-align: justify;
}

h1 {
  font-weight: 400;
}

p {
  line-height: 1.7;
}

a {
  cursor: pointer;
  color: var(--pop);
}

span.pop {
  color: var(--pop);
}

span.bold {
  font-weight: bold;
}


#header {

  display: flex;
  align-items: center;
  justify-content: flex-start;

  text-align: left;
  width: 100%

}

#header h1 {
  /* padding-bottom: 125px; */
  /* padding-right: 80px; */
}

#header img {

  margin-right: 50px;
  height: 250px;

}

#header .emoji-block h1 {
  animation-name: wave-hand;  /* Refers to the name of your @keyframes element below */
  animation-duration: 1.3s;        /* Change to speed up or slow down */
  animation-iteration-count: 1;  /* Never stop waving :) */
  animation-timing-function: ease-in-out;
  transform-origin: 90% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

#header .emoji-block {
  animation-name: wave-hand;  /* Refers to the name of your @keyframes element below */
  animation-duration: 1.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  animation-timing-function: ease;
  transform-origin: 90% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
  animation-play-state: paused;
}

#header .emoji-block:hover {
  animation-play-state: running;
}

.landscape {
  margin: 60px 0;
  width: 100%;
}

.landscape img {
  width: 100%;
}


#sidenav {
  height: 100vh; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  padding: 20px;

  writing-mode: vertical-rl;
  text-orientation: sideways-right; /*upright;*/
  transform: scale(-1, -1);

  display: flex;
  flex-direction: row-reverse;

}

#sidenav div {
  flex-grow: 1;
  text-align: center;
}

#sidenav a {
  color: black;
  text-decoration: none;
  padding: 10px 2px;
  background: linear-gradient(to top, var(--pop) 25%, white 25%, white 50%, black 50%, black 75%, var(--pop) 75%);
  background-size: 100% 700%;
  background-position: 0% 66%;
  transition: 0.3s ease-in-out;
}

#sidenav div.selected a {
  font-weight: bold;
  color: white;
  background-position: 0% 33%;
}

#sidenav div a:hover {
  color: white;
  background-position: 0% 100%;
}

#sidenav div.selected a:hover {
  color: white;
  background-position: 0% 0%;
}

.emoji-block {
  padding-right: 30px;
  padding-left: 5px;
  margin-left: -87px; /* 75 + 12 */
}



.emoji-word {
  font-weight: 500;
  color: var(--emoji);
  transition: 0.3s ease-in-out;
}

.emoji-word::after {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.emoji-word:hover {
  color: white;
}

.emoji-word:hover::after {
  opacity: 1;
}

.emoji-word.diamond::after {
  content: "💎";
  margin-left: -50px;
}

.emoji-word.glasses::after {
  content: "👓";
  margin-left: -45px;
}

.emoji-word.research::after {
  content: "🔬";
  margin-left: -50px;
}

.title_with_emoji::before {
  position: absolute;
  margin-left: -50px;
}

#education::before {
  content: "📚";
}

#teaching { margin-top: 50px; }

#teaching::before {
  content: "🍎";
}

#research { margin-top: 50px; }

#research::before {
  content: "🔬";
}

#projects { margin-top: 50px; }

#projects::before {
  content: "🛠";
}

ul#class_list {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 30px;
    font-size: 16px;
    height: 0px;
    overflow-y: hidden;
    column-fill: auto;
    text-align: left;
    margin: -15px;
    margin-top: 0px;
}

ul#class_list.unhide {
  height: 760px;
  margin-bottom: 30px;
  margin-top: 40px;
}

#toggle_class_list {
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  transition: 0.2s;

  background: linear-gradient(to right, var(--pop) 50%, white 50%);
  background-size: 205% 100%;
  background-position: right 0%;
  padding: 5px 8px;

}

#toggle_class_list:hover {
  background-position: left 0%;
  color: white;
}

#toggle_class_list.changing {
  animation-name: opacity-bump;  /* Refers to the name of your @keyframes element below */
  animation-duration: 0.2s;        /* Change to speed up or slow down */
  animation-iteration-count: 1;  /* Never stop waving :) */
  animation-timing-function: ease-in-out;
  transform-origin: 90% 70%;       /* Pivot around the bottom-left palm */
}

#toggle_class_list.changing2 {
  animation-name: opacity-bump;  /* Refers to the name of your @keyframes element below */
  animation-duration: 0.2s;        /* Change to speed up or slow down */
  animation-iteration-count: 1;  /* Never stop waving :) */
  animation-timing-function: ease-in-out;
  transform-origin: 90% 70%;       /* Pivot around the bottom-left palm */
}


@keyframes wave-hand {

       0% { transform: rotate( 0.0deg) }
      15% { transform: rotate(14.0deg) }
      30% { transform: rotate(-8.0deg) }
      45% { transform: rotate(14.0deg) }
      60% { transform: rotate(-4.0deg) }
      75% { transform: rotate(10.0deg) }
     100% { transform: rotate( 0.0deg) }

}


@keyframes opacity-bump {

       0% { opacity: 1; color: var(--pop); }
      50% { opacity: 0; color: var(--pop); }
     100% { opacity: 1; color: var(--white);}

}

@media (max-width:900px) {

  #header {
    display: block;
  }

  #header .emoji-block {

    display: block;
    margin: 0 0 -40px 0;

  }

  .title_with_emoji::before {

    position: relative;
    display: inline-block;
    margin-left: 0px;
    margin-right: 10px;

  }

}
