body {
    margin: 15vh auto 15vh auto;
    /* width: 100vw; */
    max-width: 100vw;
    overflow-x: hidden;

    font-size: 1rem;
}

#main_icon {
    position: fixed;
    top: 1.2rem;
    left: 2rem;
    font-size: 1.5rem;

    cursor: pointer;
    text-align: right;

    color: var(--c-font);
}

#icon_hint {
    position: absolute;
    font-size: 0.7em;
    top: 1.8em;
    left: 1em;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    display: block;
}

#main_icon:hover .name {
    text-decoration: none wavy var(--c-pop);
    text-decoration-skip-ink: none;
    text-underline-offset: -0.05em;
}
#main_icon:hover .name {
    text-decoration: underline wavy var(--c-pop);
}

#main_icon:hover #icon_hint {
    opacity: 1;
}

#toc {
    flex-shrink: 0;
    width: 15.5rem;
    /* margin-right: 5em; */
    flex-grow: 1;
    flex-basis: 15%;
    padding-right: 3.5em;
    min-width: 13rem;

    position: sticky; 
    top: 0; 

    margin-bottom: auto;
    font-size: 0.875rem;
    max-width: 8rem;

    /* position: fixed; */
    /* padding-top: 20vh; */
    /* left: 0; */
    /* font-size: 100%;
    color: #202122;
    font-family: sans-serif;
    overflow-x: hidden;
    top: 24px;
    contain: paint;
    box-sizing: border-box;
    max-height: calc(100vh - (24px * 2));
    margin-left: 2em;
    width: 15.5rem;
    font-size: 0.8em; */
}

#toc nav {
    color: var(--c-link);
    font-family: sans-serif;
    display: block;
    /* position: fixed; */
    margin-top: 5em;
}

/* copied this from more button in blog.md - unify these later */
.hide_button {
    margin-left: 2em;
    color: black;
    background-color: #f6f6f6;
    padding: 0.5em;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;


    transition: background ease-in-out 0.3s, color ease-in-out 0.1s;
}

.hide_button:hover {
    background-color: var(--pop);
    color: #f6f6f6;
}

#toc .nav_content_label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #eaecf0;
    line-height: 1.6;
}

#toc .nav_content_label h2 {
    font-size: 1.2em;
    padding-top: 0.5em;
    margin: 0;
}

#toc a {
    text-decoration: none;
}

#toc ul {
    color: #202122;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
}

#toc li {
    color: #202122;
    font-family: sans-serif;
    list-style: none;
    position: relative;
    list-style-type: none;
    padding-left: 12px;
    margin: 0;
    margin-bottom: 0.4em;
}

#toc .sublist {
    padding-left: 1.2em;
}

#article_container {
    /* max-width: 60ch; */
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 8;
    overflow-x: visible;
    max-width: 90ch;
}

#content {
    margin-left: 2rem;  /* emoji offset */
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bitter, Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

#content h2 {
    margin-top: 2em;
    margin-bottom: 0.8em;

    font-weight: 400;
    border-bottom: 1px solid var(--border-color-base, #a2a9b1);
    padding-bottom: 0.2em;
    
}

.blog_emoji {
    font-size: 5em;
    margin-bottom: -0.3em;
}

#autofill_toc {
    max-height: 50vh;
    overflow-y: auto;
    transition: max-height 0.3s ease-in;
}

#autofill_toc.tochidden {
    max-height: 0;
    transition: 0.15s ease-out;
    overflow: hidden;
}

h1.blog_title {
    margin-left: 0rem; /* emoji offset */
    font-size: 3rem;
    font-weight: 700;
    margin-top: 0;
}

p.blog_blurb {
    margin-left: 0rem; /* emoji offset */
    font-size: 1.4em;
    max-width: 60ch;
}

.blog_splash {
    margin: auto;
    max-width: 100ch;
    margin-bottom: 5em;
}

.title_separator {
    position: absolute;
    height: 0.25rem;
    background: var(--c-pop);
    width: 5rem;
    transform-origin: left center;
    margin-left: 0rem;
}

.article_date {
    margin-left: 0rem; /* emoji offset */
    font-weight: 700;
    color: var(--c-pop);
    margin-top: 10em;
    display: block;
    letter-spacing: .08em;
}

div#flex_article {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
}

div#article_right_col {
    flex-basis: 10%;
    flex-shrink: 2;
}

#toc .back_button {
    color: var(--c-less-pop);
    transition: 0.1s ease-in;
}

#toc .back_button svg {
    margin-bottom: -0.15em;
    margin-right: -0.2em;
    transition: 0.1s ease-in;
}

#toc .back_button:hover {
    color: var(--pop);
    transition: 0.1s ease-out;
}

#toc .back_button:hover svg {
    fill: var(--pop);
    transition: 0.1s ease-out;
}

@media (max-width: 1200px) {

    div#flex_article {
        flex-direction: column;
        align-items: center;
    }

    div##article_container {
        margin: auto;
    }

    #toc {
        position: relative; 
        font-size: 1.2rem;
        width: 100%;
        max-width: none;
        display: none;
    }

    #article_right_col {
        display: none;
    }
    
}