body {
    margin: 15vh auto 15vh auto;
    /* width: 100vw; */
    max-width: 100vw;
    overflow-x: hidden;

    font-size: 1rem;
}

#main_icon {
    position: fixed;
    top: 1.2rem;
    left: 3.5rem;
    font-size: 1.5rem;

    cursor: pointer;
    text-align: right;

    color: var(--c-font);
    z-index: 2;
}

#icon_hint {
    position: absolute;
    font-size: 0.7em;
    top: 1.8em;
    left: 2.2em;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
    display: block;
}

#main_icon:hover .name {
    text-decoration: none wavy var(--c-pop);
    text-decoration-skip-ink: none;

    text-underline-offset: .1em;
    text-decoration-thickness: 0.1em;

    -webkit-text-decoration: none wavy var(--c-pop);
}
#main_icon:hover .name {
    text-decoration: underline wavy var(--c-pop);
    -webkit-text-decoration: underline wavy var(--c-pop);
}

#main_icon:hover #icon_hint {
    opacity: 1;
}

#main_icon svg {
    fill: var(--c-font);
    position: absolute;
    left: -1.5em;
}

#toc {
    flex-shrink: 0;
    width: 15.5rem;
    flex-grow: 1;
    flex-basis: 15%;
    padding-right: 3.5em;
    min-width: 13rem;

    position: sticky; 
    top: 5%; 

    margin-bottom: auto;
    font-size: 0.875rem;
    max-width: 8rem;
}

div.highlighter-rouge {
    width: 100%;
}

div.highlight {
    border-radius: 0.5em;
    padding: 0.5em 1em;
    background:var(--c-elem-bg-dull) !important;
    overflow: scroll;
    max-height: 50ch;
}

code.highlight, p code {
    background:var(--c-elem-bg-dull) !important;
    border-radius: 0.35em;
    padding: 0.3em 0.4em;
    font-size: 0.9em;
}

div.small_code_font .highlight {
    font-size: 0.8em;
    letter-spacing: 0px;
    line-height: 1;
    margin: 1.5em;
    padding: 0em;
}

#toc nav {
    color: var(--c-link);
    font-family: sans-serif;
    display: block;
    /* position: fixed; */
    margin-top: 5em;
}

/* copied this from more button in blog.md - unify these later */
.hide_button {
    margin-left: 2em;
    color: var(--c-less-pop);
    padding: 0.2em 0.5em;
    height: min-content;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    vertical-align: baseline;

    transition: background ease-in-out 0.3s, color ease-in-out 0.1s;
}

.hide_button:hover {
    background-color: var(--c-less-pop);
    color: var(--c-elem-bg-dull);
}

#toc .nav_content_label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 6px;
    margin-bottom: 1em;
    border-bottom: 1px solid #eaecf0;
    line-height: 1.6;
    align-items: baseline;
}

#toc .nav_content_label h2 {
    font-size: 1.2em;
    padding-top: 0.5em;
    margin: 0;
}

#toc a {
    text-decoration: none;
}

#toc ul {
    color: var(--c-elem-bg-pop);
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#toc li ul {
    /* border-left: solid var(--c-elem-bg-pop) 0.2em; */
    padding-left: 1em;
}

#toc li ul li {
    list-style-type: disc;
}

#toc li {
    color: var(--c-elem-bg-pop);
    font-family: sans-serif;
    list-style: none;
    position: relative;
    padding-left: 0;
    margin: 0;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    list-style-type: decimal;
}

#toc li.level2, #toc li.level3, #toc li.level4 {
    padding-left: 0.5em;
    /* border-left: solid var(--c-elem-bg-pop) 0.2em; */
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

#toc li.level1 + li.level2 {
    margin-top: 0.2em;
}

#toc li.level2 + li.level1 {
    margin-bottom: 0.2em;
}

#toc li.level2 {
    margin-left: 0.5em;
}

#toc li.level3 {
    margin-left: 1.5em;
}

#toc li.level4 {
    margin-left: 2.5em;
}

#toc .sublist {
    padding-left: 1.2em;
}

blockquote {
    background-color: var(--c-elem-bg-dull);
    border-left: 0.3em solid var(--c-pop);
    padding: 1px 1em;
    margin: 2em 1.3em;
}

blockquote blockquote {
    margin-left: 0;
    border-left-color: var(--c-bg);
}

blockquote p:first-child > strong:only-child {
    color: var(--c-pop);
    margin-left: -0.75em;
    margin-bottom: 0;
}

blockquote:has(strong:only-child) {
    padding-left: 2em;
}

blockquote p:has(strong:only-child) {
    margin-bottom: -0.75em;
    margin-top: 0.75em;
}

blockquote strong {
    color: var(--c-less-pop)
}

#article_container {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 8;
    overflow-x: visible;
    max-width: 90ch;
    width: 100%;
}

#article_container > div {
    width: 100%;
}

#content {
    margin-left: 2rem;  /* emoji offset */
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bitter, Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;

}

h1 {
    margin-top: 2em;
}

#content h2 {
    margin-top: 2em;
    margin-bottom: 0.8em;

    font-weight: 400;
    border-bottom: 1px solid var(--border-color-base, #a2a9b1);
    padding-bottom: 0.2em;
    
}

.blog_emoji {
    font-size: 5em;
    margin-bottom: -0.3em;
}

#autofill_toc {
    max-height: 50vh;
    transition: max-height 0.3s ease-in;
    overflow: scroll;
}

#autofill_toc.tochidden {
    max-height: 0;
    transition: 0.15s ease-out;
    overflow: hidden;
}

h1.blog_title {
    margin-left: 0em; /* emoji offset */
    font-size: 3em;
    font-weight: 700;
    margin-top: 0;
}

.blog_title_emoji * {
    float: right;
    text-align: right;
}

p.blog_blurb {
    margin-left: 0em; /* emoji offset */
    font-size: 1.4em;
    max-width: 60ch;
}

.blog_splash {
    margin: auto;
    max-width: 100ch;
    margin-bottom: 7em;
}

.title_separator {
    position: absolute;
    height: 0.25rem;
    background: var(--c-pop);
    width: 5rem;
    transform-origin: left center;
    margin-left: 0rem;
}

.article_date {
    margin-left: 0rem; /* emoji offset */
    font-weight: 700;
    color: var(--c-pop);
    margin-top: 10em;
    display: block;
    letter-spacing: .08em;
}

div#flex_article {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
    justify-content: space-between;
}

div#article_right_col {
    flex-basis: 10%;
    flex-shrink: 2;
}

#toc .back_button {
    color: var(--c-less-pop);
    transition: 0.1s ease-in;
}

#toc .back_button svg {
    margin-bottom: -0.15em;
    margin-right: -0.2em;
    transition: 0.1s ease-in;
}

#toc .back_button:hover {
    color: var(--pop);
    transition: 0.1s ease-out;
}

#toc .back_button:hover svg {
    fill: var(--pop);
    transition: 0.1s ease-out;
}

figure img, img.figure, img.small_figure {
    width: auto;
    height: auto;
    display: block;
    margin: 3em auto;
    max-height: 50vh;
    max-width: 90%;
}
figure img.large, img.figure.large {
    max-width: 100%;
    max-height: 80vh;
}

img.small_figure {
    max-width: 80%;
}

figcaption {
    margin: auto;
    margin-top: -2em;
    margin-bottom: 2em;
    width: 95%;
    text-align: center;
}

@media (max-width: 900px) {
    #main_icon {
        top: -0.3rem;
    }

    .blog_splash {
        margin-bottom: 2em;
    }
}

@media (max-width: 1200px) {

    body {
        font-size: 1em;
    }

    #content {
        margin-left: 0;
    }

    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.25em;
    }

    h1.blog_title {
        font-size: 2em;
    }

    div#flex_article {
        flex-direction: column;
        align-items: center;
    }

    div#article_container {
        margin: auto;
    }

    p.blog_blurb {
        font-size: 1.2em;
    }

    .pageMobileBar {
        display: block;
    }

    #toc {
        position: relative; 
        font-size: 1.2rem;
        width: 100%;
        max-width: none;
        display: none;
    }

    #article_right_col {
        display: none;
    }

    blockquote {
        margin-left: 0;
        margin-right: 0;
    }

    figure img, figure img.large {
        width: 100%;
    }

    figure {
        margin-left: 0;
        margin-right: 0;
    }
    
}