.default {
    --c-bg: white;
    --c-elem-bg-dull: #f6f6f6;
    --c-elem-bg-pop: #ccc;
    
    --c-pop:    #FE1717;
    --c-less-pop:    #FF7777;
    --c-hover-pop:    #BB1313;

    --c-font: black;
    --c-font-muted: rgba(0,0,0,.38);
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #f1c40f; /* #FFD52E: */

    --c-link: var(--c-pop);
    --c-color-status-bar: white;
    --c-wavy: 0;

    --code-theme: light;
}

.modern {
    --c-bg: #eee;
    --c-elem-bg-dull: #e6e6e6;
    --c-elem-bg-pop: #ccc;

    --c-pop: #409eff;
    --c-less-pop: #3492cd;
    --c-hover-pop: #007acc;

    --c-font: #333;
    --c-font-muted: #666;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #f1c40f;

    --c-link: var(--c-pop);
    --c-color-status-bar: var(--c-pop);
    --c-wavy: 0;

    --code-theme: light;

}

/* .purple {
    --c-bg: #4a113c;
    --c-elem-bg-dull: rgba(178, 127, 170, 0.1);
    --c-elem-bg-pop: rgba(178, 127, 170, 0.2);

    --c-pop: #6ebbd5;
    --c-less-pop: rgba(110, 187, 213, 0.9);
    --c-hover-pop: #b27faa;

    --c-font: rgb(255, 227, 255);
    --c-font-muted: #daa7d2;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ffc326;

    --c-link: var(--c-pop);
    --c-color-status-bar: var(--c-pop);
    --c-wavy: 0;
}

.dawn {
    --c-bg: #131842;
    --c-elem-bg-dull: ;
    --c-elem-bg-pop: ;

    --c-pop: #E68369;
    --c-less-pop: var(--c-font-muted);
    --c-hover-pop: #ff7350;

    --c-font: #FBF6E2;
    --c-font-muted: #ECCEAE;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ffc326;

    --c-link: var(--c-pop);
    --c-color-status-bar: var(--c-pop);
    --c-wavy: 0;
}

.earthy {

    --c-bg: #202318;
    --c-elem-bg-dull: rgba(46, 41, 22, 0.5);
    --c-elem-bg-pop: rgb(105, 75, 1, 0.3);

    --c-pop: #7a7946;
    --c-less-pop: #cbc87c;
    --c-hover-pop: #ecb653;

    --c-font: #e5ddae;
    --c-font-muted: #cb9866;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ecb653;

    --c-link: var(--c-pop);
    --c-color-status-bar: var(--c-pop);
    --c-wavy: 0;

}

.mono {

    --c-bg: #010A19;
    --c-elem-bg-dull: rgba(1, 10, 25, 0.2);
    --c-elem-bg-pop: rgba(1, 10, 25, 0.6);

    --c-pop: #6c7a96;
    --c-less-pop: #5f6a7d;
    --c-hover-pop: var(--c-font-muted);

    --c-font: #afbed3;
    --c-font-muted: #8391a7;
    --c-font-sel: var(--c-less-pop);
    --c-font-sel-bg: #afbed3cc;
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ae8740;

    --c-link: var(--c-pop);
    --c-color-status-bar: var(--c-pop);
    --c-wavy: 0;

} */

.blorange {

    --c-bg: #00193c;
    --c-elem-bg-dull: #043355;
    --c-elem-bg-pop: #25445a;

    --c-pop: #f6a56d;
    --c-less-pop: #de381e;
    --c-hover-pop: #87afa6;

    --c-font: #f6dbb0;
    --c-font-muted: #dec99a;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ffb800;

    --c-link: var(--c-pop);
    --c-color-status-bar: var(--c-pop);
    --c-wavy: 0;

    --code-theme: dark;

}

.dark_pistachio {
    --c-bg: #1E152A;
    --c-elem-bg-dull: #170d24;
    --c-elem-bg-pop: #707c63;

    --c-pop: #A5C882;
    --c-less-pop: #5AB1BB;
    --c-hover-pop: #F7DD72;

    --c-font: #eee;
    --c-font-muted: #999;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ffb800;

    --c-link: var(--c-pop);
    --c-color-status-bar: var(--c-pop);
    --c-wavy: 0;

    --code-theme: dark;
}

/* .gold_sand {
    --c-bg: #4B4237;
    --c-elem-bg-dull: ;
    --c-elem-bg-pop: ;

    --c-pop: #D5A021;
    --c-less-pop: #A49694;
    --c-hover-pop: #F7DD72;

    --c-font: #EDE7D9;
    --c-font-muted: #736B60;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ffb800;

    --c-link: var(--c-pop);
    --c-color-status-bar: var(--c-pop);

    --c-wavy: 0;
}

.froyo {
    --c-bg: #F8E5D4; 
    --c-elem-bg-dull: #F0C9A2; 
    --c-elem-bg-pop: #FFD700; 

    --c-pop: #ff899b; 
    --c-less-pop: #fcb373; 
    --c-hover-pop: #FFA07A; 

    --c-font: #4B4237; 
    --c-font-muted: #736B60; 
    --c-font-sel: var(--c-bg); 
    --c-font-sel-bg: var(--c-less-pop); 
    --c-inv-bg: var(--c-bg); 

    --c-emoji: #FF6347; 

    --c-link: var(--c-pop); 
    --c-color-status-bar: var(--c-pop);

    --c-wavy: 1;
}

.yellows {
    --c-bg: #FFE5B4; 
    --c-elem-bg-dull: #FBB1C5; 
    --c-elem-bg-pop: #FDA26B; 

    --c-pop: #D5A021; 
    --c-less-pop: #A49694; 
    --c-hover-pop: #ffa303; 

    --c-font: #333; 
    --c-font-muted: #736B60; 
    --c-font-sel: var(--c-bg); 
    --c-font-sel-bg: var(--c-less-pop); 
    --c-inv-bg: var(--c-bg); 

    --c-emoji: #ffb800; 

    --c-link: var(--c-pop); 
    --c-color-status-bar: var(--c-pop);

    --c-wavy: 1;
}

.mint_wave {
    --c-bg: #E4FFE1; 
    --c-elem-bg-dull: #F4FDD9; 
    --c-elem-bg-pop: #FFE8C2; 

    --c-pop: #F0A868; 
    --c-less-pop: #6A8D73; 
    --c-hover-pop: #ff9a00; 

    --c-font: #333; 
    --c-font-muted: #736B60; 
    --c-font-sel: var(--c-bg); 
    --c-font-sel-bg: var(--c-less-pop); 
    --c-inv-bg: var(--c-bg); 

    --c-emoji: #F0A868; 

    --c-link: var(--c-pop); 
    --c-color-status-bar: var(--c-pop);

    --c-wavy: 1;
}

.purple_2 {
    --c-bg: #8189d2;
    --c-elem-bg-dull: ;
    --c-elem-bg-pop: ;
    --c-pop: #2b358c;
    --c-less-pop: #656fc5;
    --c-hover-pop: #ff7350;
    --c-font: #FBF6E2;
    --c-font-muted: #5d67c3;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);
    --c-emoji: #ffc326;
    --c-link: var(--c-pop);
    --c-color-status-bar: var(--c-pop);
    --c-wavy: 0;
} */






/* 061629-aec9e5 */

/* ffe3e0-222c77 FFE59E? E4E9EC */

/* .dracula {
    --c-bg: #282A36;
    --c-elem-bg-dull: #44475A;
    --c-elem-bg-pop: #F8F8F2;
    --c-pop: #8BE9FD;
    --c-font: #6272A4;
    --c-font-muted: #50FA7B;
    --c-box: #FF79C6;
    --c-link: var(--c-pop);
} */

/* .blueprint {
    --c-bg: ;
    --c-elem-bg-dull: ;
    --c-elem-bg-pop: ;

    --c-pop: ;
    --c-less-pop: ;
    --c-hover-pop: ;

    --c-font: ;
    --c-font-muted: ;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: ;

    --c-link: var(--c-pop);
    --c-color-status-bar: var(--c-pop);

} */