.default {
    --c-bg: white;
    --c-elem-bg-dull: ;
    --c-elem-bg-pop: ;
    

    --c-pop:    #FE1717;
    --c-less-pop:    #FF7777;
    --c-hover-pop:    #BB1313;

    --c-font: black;
    --c-font-muted: rgba(0,0,0,.38);
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #f1c40f; /* #FFD52E: */

    --c-link: var(--c-pop);
}

.purple {
    --c-bg: #4a113c;
    --c-elem-bg-dull: rgba(178, 127, 170, 0.1);
    --c-elem-bg-pop: rgba(178, 127, 170, 0.2);

    --c-pop: #6ebbd5;
    --c-less-pop: rgba(110, 187, 213, 0.9);
    --c-hover-pop: #b27faa;

    --c-font: rgb(255, 227, 255);
    --c-font-muted: #daa7d2;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ffc326;

    --c-link: var(--c-pop);
}

.dawn {
    --c-bg: #131842;
    --c-elem-bg-dull: ;
    --c-elem-bg-pop: ;

    --c-pop: #E68369;
    --c-less-pop: var(--c-font-muted);
    --c-hover-pop: #ff7350;

    --c-font: #FBF6E2;
    --c-font-muted: #ECCEAE;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ffc326;

    --c-link: var(--c-pop);
}


.goat {
    --c-bg: #eee;
    --c-elem-bg-dull: ;
    --c-elem-bg-pop: ;

    --c-pop: #409eff;
    --c-less-pop: #91caf0;
    --c-hover-pop: #007acc;

    --c-font: #333;
    --c-font-muted: #666;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #f1c40f;

    --c-link: var(--c-pop);

}

.earthy {

    --c-bg: #202318;
    --c-elem-bg-dull: rgba(46, 41, 22, 0.5);
    --c-elem-bg-pop: rgb(105, 75, 1, 0.3);

    --c-pop: #7a7946;
    --c-less-pop: #cbc87c;
    --c-hover-pop: #ecb653;

    --c-font: #e5ddae;
    --c-font-muted: #cb9866;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ecb653;

    --c-link: var(--c-pop);

}

.mono {

    --c-bg: #010A19;
    --c-elem-bg-dull: rgba(1, 10, 25, 0.2);
    --c-elem-bg-pop: rgba(1, 10, 25, 0.6);

    --c-pop: #6c7a96;
    --c-less-pop: #5f6a7d;
    --c-hover-pop: var(--c-font-muted);

    --c-font: #afbed3;
    --c-font-muted: #8391a7;
    --c-font-sel: var(--c-less-pop);
    --c-font-sel-bg: #afbed3cc;
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ae8740;

    --c-link: var(--c-pop);

}

.blorange {

    --c-bg: #00193c;
    --c-elem-bg-dull: rgba(27, 111, 145, 0.3);
    --c-elem-bg-pop: rgba(127, 167, 158, 0.15);

    --c-pop: #f6a56d;
    --c-less-pop: #de381e;
    --c-hover-pop: #87afa6;

    --c-font: #f6dbb0;
    --c-font-muted: #dec99a;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ffb800;

    --c-link: var(--c-pop);

}

.dark_pistachio {
    --c-bg: #1E152A;
    --c-elem-bg-dull: ;
    --c-elem-bg-pop: ;

    --c-pop: #A5C882;
    --c-less-pop: #5AB1BB;
    --c-hover-pop: #F7DD72;

    --c-font: #eee;
    --c-font-muted: #999;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ffb800;

    --c-link: var(--c-pop);
}

.gold_sand {
    --c-bg: #4B4237;
    --c-elem-bg-dull: ;
    --c-elem-bg-pop: ;

    --c-pop: #D5A021;
    --c-less-pop: #A49694;
    --c-hover-pop: #F7DD72;

    --c-font: #EDE7D9;
    --c-font-muted: #736B60;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: #ffb800;

    --c-link: var(--c-pop);
}

.froyo {
    --c-bg: #F8E5D4; /* Light beige background */
    --c-elem-bg-dull: #F0C9A2; /* Dull yellow for elements */
    --c-elem-bg-pop: #FFD700; /* Bright yellow for pop elements */

    --c-pop: #ff899b; /* Pink for main pop color */
    --c-less-pop: #fcb373; /* Light pink for less prominent areas */
    --c-hover-pop: #FFA07A; /* Coral for hover effects */

    --c-font: #4B4237; /* Dark brown font color */
    --c-font-muted: #736B60; /* Muted font color */
    --c-font-sel: var(--c-bg); /* Selected font color on beige background */
    --c-font-sel-bg: var(--c-less-pop); /* Background for selected font */
    --c-inv-bg: var(--c-bg); /* Inverted background color */

    --c-emoji: #FF6347; /* Tomato emoji color */

    --c-link: var(--c-pop); /* Link color */

}

.yellows {
    --c-bg: #FFE5B4; /* Peach background */
    --c-elem-bg-dull: #FBB1C5; /* Soft blush pink for dull elements */
    --c-elem-bg-pop: #FDA26B; /* Vibrant atomic tangerine for pop elements */

    --c-pop: #D5A021; /* Main pop color (similar to peach) */
    --c-less-pop: #A49694; /* Muted taupe for less prominent elements */
    --c-hover-pop: #ffa303; /* Hover effect color */

    --c-font: #333; /* Dark gray font color for better readability */
    --c-font-muted: #736B60; /* Subtle muted font color */
    --c-font-sel: var(--c-bg); /* Font color for selected elements */
    --c-font-sel-bg: var(--c-less-pop); /* Background for selected elements */
    --c-inv-bg: var(--c-bg); /* Inverted background color */

    --c-emoji: #ffb800; /* Emoji color */

    --c-link: var(--c-pop); /* Link color */
}

.mint_wave {
    --c-bg: #E4FFE1; /* Soft minty green background */
    --c-elem-bg-dull: #F4FDD9; /* Pale lemon for dull elements */
    --c-elem-bg-pop: #FFE8C2; /* Warm apricot for pop elements */

    --c-pop: #F0A868; /* Main pop color (reminiscent of peach) */
    --c-less-pop: #6A8D73; /* Earthy olive for less prominent elements */
    --c-hover-pop: #ff9a00; /* Hover effect color */

    --c-font: #333; /* Dark gray font color for readability */
    --c-font-muted: #736B60; /* Subtle muted font color */
    --c-font-sel: var(--c-bg); /* Font color for selected elements */
    --c-font-sel-bg: var(--c-less-pop); /* Background for selected elements */
    --c-inv-bg: var(--c-bg); /* Inverted background color */

    --c-emoji: #F0A868; /* Emoji color (matching the pop color) */

    --c-link: var(--c-pop); /* Link color */
}



/* .dracula {
    --c-bg: #282A36;
    --c-elem-bg-dull: #44475A;
    --c-elem-bg-pop: #F8F8F2;
    --c-pop: #8BE9FD;
    --c-font: #6272A4;
    --c-font-muted: #50FA7B;
    --c-box: #FF79C6;
    --c-link: var(--c-pop);
} */

/* .blueprint {
    --c-bg: ;
    --c-elem-bg-dull: ;
    --c-elem-bg-pop: ;

    --c-pop: ;
    --c-less-pop: ;
    --c-hover-pop: ;

    --c-font: ;
    --c-font-muted: ;
    --c-font-sel: var(--c-bg);
    --c-font-sel-bg: var(--c-less-pop);
    --c-inv-bg: var(--c-bg);

    --c-emoji: ;

    --c-link: var(--c-pop);

} */