:root {

  --text-font-size-L: 1.4rem; /* 20px; */
  --text-font-size-M: 1.2rem; /* 18px; */

  --title-font-size: 27px;

  --page-line-height: 0.4rem;

}

@media (min-width:1300px) {

  :root {

    --text-font-size-L: 1.75rem; /* 20px; */
    --text-font-size-M: 1.5rem; /* 18px; */
  
    --title-font-size: 33.75px;
  
    --page-line-height: 0.5rem;
  
  }

  #portrait {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  
}

.pageLine {
  position: fixed;
  top: 0;
  left: 0;
  transition: none;
  flex-basis: 100%;
  max-width: 100%;
  width: 100%;
  display: block;
  
  z-index: 10;

  height: calc(20px*var(--c-wavy, 0) + var(--page-line-height)*(1 - var(--c-wavy, 0)));

  /* TODO: add fallback */
  --color-gradient: color-mix(in srgb, 
    var(--c-pop) calc(100%*(1 - var(--c-wavy, 0))), /* no gradient */
    var(--c-hover-pop) calc(100%*var(--c-wavy, 0)) /* gradient */
  );

  background:
    linear-gradient(to right, var(--c-pop), var(--color-gradient));
}

.pageMobileBar {
  position: fixed;
  top: 0;
  left: 0;
  transition: none;
  flex-basis: 100%;
  max-width: 100%;
  width: 100%;
  display: none;
  
  z-index: 1;
  height: 6.5em;
  background-color: var(--c-bg);
}

.pageLine::before {
  content: "";
  height: calc(10px*var(--c-wavy, 0));

  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, var(--c-bg) 13px);
}

.pageLine::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: calc(15px*var(--c-wavy, 0));
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, var(--c-bg) 12px, transparent 13px);
}

.ee-color {
  color: #ff4757;
}

.cs-color {
  color: #26de81;
}

.meche-color {
  color: #1e90ff;
}

.quantum-color {
  color: #a55eea;
}

.math-color {
  color: #fa8231;
}

.bold {
  font-weight: bold;
}

::-moz-selection {
  color: var(--c-font-sel);
  background: var(--c-font-sel-bg);
}

::selection {
  color: var(--c-font-sel);
  background: var(--c-font-sel-bg);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2px;
  width: 90vw;
  font-size: var(--text-font-size-M);

  margin: 15vh auto 15vh auto;

  max-width: 60ch;
  text-align: left;

  background-color: var(--c-bg);
  color: var(--c-font);
}

.serif {
  font-family: -apple-system-ui-serif, ui-serif, 'Georgia', serif;
}

.code {
  font-family: ui-monospace, SFMono-Regular, ui-monospace, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

h1 {
  font-weight: 400;
}

h4 {
  margin-top: 35px;
  margin-bottom: -10px;
  font-weight: 500;
}

p {
  line-height: 1.7;
}

li {
  line-height: 1.7;
  margin-bottom: 5px; 
}

a, .fake_anchor, .toggleSection {
  cursor: pointer;
  color: var(--c-link);
}

@media (hover: hover) {
  a:hover, .fake_anchor:hover {
    color: var(--c-hover-pop);
  }
}

.pop {
  color: var(--c-pop);
}

span.bold {
  font-weight: bold;
}

.intro {
  font-size: var(--text-font-size-L);
}

#header {

  display: flex;
  align-items: center;
  justify-content: flex-start;

  text-align: left;
  width: 100%

}

#header h1 {
  /* padding-bottom: 125px; */
  /* padding-right: 80px; */
}

#header img {

  margin-right: 50px;
  height: 250px;

}

#header .emoji-block h1 {
  animation-name: wave-hand;  /* Refers to the name of your @keyframes element below */
  animation-duration: 1.3s;        /* Change to speed up or slow down */
  animation-iteration-count: 1;  /* Never stop waving :) */
  animation-timing-function: ease-in-out;
  transform-origin: 90% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

#header .emoji-block {
  display: inline-block;
}

@media (hover: hover) {
  #header .emoji-block {
      animation-name: wave-hand;  /* Refers to the name of your @keyframes element below */
      animation-duration: 1.5s;        /* Change to speed up or slow down */
      animation-iteration-count: infinite;  /* Never stop waving :) */
      animation-timing-function: ease;
      transform-origin: 90% 70%;       /* Pivot around the bottom-left palm */
      animation-play-state: paused;
  }
  #header .emoji-block:hover {
    animation-play-state: running;
  }
}

@media (hover: none) {
  #header .emoji-block {
    /* On mobile, each tap is one wave */
    animation-iteration-count: 1;
    animation-play-state: running;
  }

  #header .emoji-block:active {
    animation-name: wave-hand;  /* Refers to the name of your @keyframes element below */
    animation-duration: 1.5s;        /* Change to speed up or slow down */
    animation-iteration-count: 1;  /* Never stop waving :) */
    animation-timing-function: ease;
    transform-origin: 90% 70%;       /* Pivot around the bottom-left palm */
  }
}

.quote-it::before {
  content: "\""
}

.quote-it::after {
  content: "\""
}

.landscape {
  margin: 60px 0;
  width: 100%;
}

.landscape img {
  width: 100%;
}

#sidenav {
  height: 100vh; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  padding: 20px;

  writing-mode: vertical-rl;
  text-orientation: sideways-right; /*upright;*/
  transform: scale(-1, -1);

  display: flex;
  flex-direction: row-reverse;

  user-select: none;

}

#sidenav div {
  flex-grow: 1;
  text-align: center;
}

#sidenav a {
  color: var(--c-font);
  text-decoration: none;
  padding: 10px 2px;
  background: linear-gradient(to top, var(--c-pop) 25%, var(--c-bg) 25%, var(--c-bg) 50%, var(--c-font) 50%, var(--c-font) 75%, var(--c-pop) 75%);
  background-size: 100% 700%;
  background-position: 0% 66%;
  transition: 0.3s ease-in-out;
}

#sidenav div.selected a {
  font-weight: bold;
  color: var(--c-inv-bg);
  background-position: 0% 33%;
}

#sidenav div a:active {
  color: var(--c-inv-bg);
  background-position: 0% 100%;
}

#sidenav div.selected a:active {
  color: var(--c-inv-bg);
  background-position: 0% 0%;
}

@media (hover: hover) {
  #sidenav div a:hover {
    color: var(--c-inv-bg);
    background-position: 0% 100%;
  }

  #sidenav div.selected a:hover {
    color: var(--c-inv-bg);
    background-position: 0% 0%;
  }
}

#mobilenav {
  display: none;
}

div#check-out-my-container {
  text-align: center;
  display: flex;
  margin: 30px 20px 60px 20px;
  flex-wrap: wrap;
}

#portrait {
  height: 450px;

  object-fit: cover;
  cursor: pointer;
}

#resume, #github, #linkedin, #blog {
  display: inline-block;
  width: max-content;
  margin: auto;
  text-align: center;
  padding: 15px 15px;
}

#resume a, #github a, #linkedin a, #blog a {
  text-align: center;
  font-weight: bold;

  color: var(--c-pop);
  text-decoration: none;
  text-transform: uppercase;

  padding: 8px 15px;
  display: inline-block;
}

#resume a p, #github a p, #linkedin a p, #blog a p {
  display: inline-block;
  margin: 0;
}

#resume a .resume_icon, #github a .github_icon, #linkedin a .linkedin_icon, #blog a .blog_icon {
  fill: var(--c-pop);
  transition: 0.3s;
}


@media (hover: hover) {

  #resume a, #github a, #linkedin a, #blog a {
    background: linear-gradient(to left, var(--c-bg) 50%, var(--c-pop) 50%);
    background-position: right;
    background-size: 0;
    transition: background-position 0.3s ease-in-out;
  }

  #resume a:hover, #github a:hover, #linkedin a:hover, #blog a:hover {
    color: var(--c-inv-bg);
    background-position: left;
    background-size: 210% 100%;
  }

  #resume a:hover .resume_icon, #github a:hover .github_icon, #linkedin a:hover .linkedin_icon, #blog a:hover .blog_icon {
    fill: var(--c-inv-bg);
  }
}

#resume svg, #github svg, #linkedin svg {
  height: 25px;
  width: 25px;
  margin: 0 5px -5px 5px;
}

#blog svg {
  height: 32px;
  width: 32px;
  margin: 0 5px -7.5px 5px;
}

h3.check_out_my {
  text-align: center;
  text-transform: uppercase;
}

.emoji-block {
  padding-right: 30px;
  padding-left: 5px;
  margin-left: -87px; /* 75 + 12 */
}

.emoji-word {
  font-weight: 500;
  color: var(--c-emoji);
  transition: 0.3s ease-in-out;

  cursor: pointer;

  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center;
  width: 100%;

  --e-✨: none;
  --e-🏎️: none;
  --e-💨: none;

  --e-🔬: none;

  --e-💎: none;

  --e-👓: none;

  --e-🧸: none;
  --e-🚂: none;

  --e-🔌: none;
  --e-⚡: none;

  --e-🧑‍💻: none;
  --e-😭: none;

  --e-👁️: none;
  --e-🧠: none;

  --e-🐸: none;

  --e-🍩: none;
  --e-🪢: none;
}

.emoji-word.toy-design, .emoji-word.circuits-and-electronics, .emoji-word.splash-class {
  background-position: left;
}

.emoji-word.animation { 
  color: #0000;
  user-select: none;
}

.emoji-word::after {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.emoji-word::before {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}


.emoji-word.animation::after, .emoji-word.animation::before {
  opacity: 1;
}

/* Instances */

.emoji-word.research.animation {
  background: var(--e-🔬) center;
}

.emoji-word.frog.animation {
  background: var(--e-🐸) center;
}

.emoji-word.topological.animation {
  background:
    var(--e-🍩) calc(50% - 0.7em), 
    var(--e-🪢) calc(50% + 0.7em);
}

.emoji-word.optimal-stars.animation {
  background:
    var(--e-🏎️) calc(50% - 0.6em), 
    var(--e-💨) calc(50% + 0.6em);
}

.emoji-word.cv-ai.animation {
  background:
    var(--e-👁️) calc(50% - 1.3em),
    var(--e-✨) center,
    var(--e-🧠) calc(50% + 1.3em)
}

.emoji-word.diamond.animation {
  background: var(--e-💎) center;
}

.emoji-word.glasses.animation {
  background: var(--e-👓) center;
}

.emoji-word.toy-design.animation {
  background:
    var(--e-🚂) 0, 
    var(--e-🧸) 1.2em
}

.emoji-word.circuits-and-electronics.animation {
  background:
    var(--e-🔌) 0, 
    var(--e-⚡) 1.2em
}

.emoji-word.splash-class.animation {
  background:
    var(--e-🧑‍💻) 0, 
    var(--e-😭) 1.2em
}


/* .emoji-word.diamond::after {
  content: "💎";
  margin-left: -50px;
} */

/* .emoji-word.glasses::after {
  content: "👓";
  margin-left: -45px;
} */

/* .emoji-word.research::after {
  content: "🔬";
  margin-left: -50px;
} */

/* .emoji-word.toy-design::after {
  content: "🚂🧸";
  margin-left: -95px;
  transform: translateY(-3px);
} */

/* .emoji-word.optimal-stars::after {
  content: "✨🏎💨";
  margin-left: -70px;
  transform: translateY(0px);
} */

.emoji-word.julia::before {
  content: url("/resources/julia_logo.svg");
  margin-right: -45px;
  transform: translateY(-123px) scale(0.09) translateX(-2190px);
}

.emoji-word.computation-structures::before {
  content: url("/resources/circuit_emoji.jpg");
  margin-right: -45px;
  transform: translateY(-260px) scale(0.05) translateX(-4700px);
}

/* .emoji-word.circuits-and-electronics::before {
  content: "🔌⚡️";
  margin-right: -45px;
  transform: translateY(-3px);
} */

/* .emoji-word.splash-class::before {
  content: "🧑‍💻😭";
  margin-right: -45px;
  transform: translateY(-3px);
} */

.title_with_emoji {
  margin-top: 0.8em;
  padding-top: 0.8em;
}

.title_with_emoji em {
  position: absolute;
  margin-left: -50px;
  font-style: normal;
}

/* #education::before {
  content: "📚";
} */

/* #teaching { margin-top: 50px; } */

/* #teaching::before {
  content: "🍎";
} */

/* #research { margin-top: 50px; } */

/* #research::before {
  content: "🔬";
} */

/* #projects { margin-top: 50px; } */

/* #projects::before {
  content: "🛠";
} */

/* #ai_blurb_title::before {
  content: "🤖";
} */

ul#class_list {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 30px;
    font-size: var(--text-font-size-M);
    height: 0px;
    overflow-y: hidden;
    column-fill: auto;
    text-align: left;
    margin: -15px;
    margin-top: 0px;
    transition: 0.3s;
    opacity: 0;
}

ul#class_list.unhide {
  height: auto;
  margin-bottom: 30px;
  margin-top: 40px;
  opacity: 1;
}

ul#class_list.unhide li {

  display: inline-block;

}

div.publication .author_list {
  color: var(--c-font-muted); 
  font-size: 0.8rem; 
  font-style: italic; 
  text-align: left;
}

div.publication a {
  font-size: 0.9rem; 
  border: var(--c-pop) solid 2px; 
  border-radius: 5px; 
  padding: 0.4rem; 
  text-decoration: none;
  margin-left: 0.2em;
}

#ai_blurb {
  margin-top: 4rem;
}

#toggle_class_list {
  font-size: var(--text-font-size-M);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  transition: 0.2s;

  background: linear-gradient(to right, var(--c-pop) 50%, var(--c-bg) 50%);
  background-size: 205% 100%;
  background-position: right 0%;
  padding: 5px 8px;

}

#toggle_class_list.changing {
  animation-name: opacity-bump;  /* Refers to the name of your @keyframes element below */
  animation-duration: 0.2s;        /* Change to speed up or slow down */
  animation-iteration-count: 1;  /* Never stop waving :) */
  animation-timing-function: ease-in-out;
  transform-origin: 90% 70%;       /* Pivot around the bottom-left palm */
}

#toggle_class_list.changing2 {
  animation-name: opacity-bump;  /* Refers to the name of your @keyframes element below */
  animation-duration: 0.2s;        /* Change to speed up or slow down */
  animation-iteration-count: 1;  /* Never stop waving :) */
  animation-timing-function: ease-in-out;
  transform-origin: 90% 70%;       /* Pivot around the bottom-left palm */
}

.toggleSection {
  font-size: var(--text-font-size-M);
  background: linear-gradient(to right, var(--c-inv-bg) 50%, var(--c-pop) 50%);
  background-size: 205%;
  background-position: left;
  transition: 0.3s;
  padding: 5px 8px;
  margin-right: -8px;
  margin-top: 20px;
}

@media (hover: hover) {
  #toggle_class_list:hover {
    background-position: left 0%;
    color: var(--c-inv-bg);
  }
  .toggleSection:hover {
    background-position: right;
    color: var(--c-font-sel);
  }
}

.sectionHide {
  max-height: 0px;
  overflow-y: hidden;
  margin-top: -10px;
  transform: 0.3s;
  padding-left: 20px;
  opacity: 0;
  transition: 0.3s;
}

.sectionHide.unhide {
  max-height: 100vh;
  margin-top: 20px;
  opacity: 1;
}

.openTab {
  width: 100%;
  text-align: right;
  display: block;
  padding-top: 1em;
  height: 1em;
  padding-bottom: 1em;
  margin-top: -2em;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.openTab svg {
  transition: 0.3s ease-in-out;
}

.openTab.opened svg {
  transform: rotateZ(45deg);
  transform-origin: center;
}

.openTab path {
  fill: var(--c-less-pop);
}

@media (hover: hover) {
  .openTab:hover path {
    fill: var(--c-pop);
  }
}

.individual-expands p {
  height: 0;
  overflow-y: hidden;
  margin: 0px;
}

.individual-expands p.loaded {
  height: auto;
  margin: -5px;
}

.individual-expands .insta-block {
  display: none;
}

.individual-expands .loaded .insta-block {
  display: block;
}

.individual-expands h4 {
  min-height: 39px;
}

.expandable {
  overflow-y: hidden;
  max-height: 100vh;
  padding-left: 20px;
  padding-top: 5px;
  font-size: var(--text-font-size-M);
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 1;
  transition: 0.3s;
}

.expandable.hidden {
  max-height: 0;
  margin: 0;
  opacity: 0;
}

.innerphoto {
  width: 80%;
  margin: 10px 10%;
}

@keyframes wave-hand {

       0% { transform: rotate( 0.0deg) }
      15% { transform: rotate(14.0deg) }
      30% { transform: rotate(-8.0deg) }
      45% { transform: rotate(14.0deg) }
      60% { transform: rotate(-4.0deg) }
      75% { transform: rotate(10.0deg) }
     100% { transform: rotate( 0.0deg) }

}


@keyframes opacity-bump {

       0% { opacity: 1; color: var(--c-pop); }
      50% { opacity: 0; color: var(--c-pop); }
     100% { opacity: 1; color: var(--c-bg);}

}

@media (min-width:901px) {
  .mobile-only {
    display: none !important;
  }
}

@media (max-width:900px) {

  #mobilenav {
    display: block;
    left: 0;
    top: -100vh;
    background-color: var(--c-bg);
    position: fixed;
    width: 100vh;
    height: 100vh;
    transition: 0.3s;
    z-index: 100;
  }

  #mobilenav.active {
    top: 0;
  }

  #next_theme, #theme_swap_indicator {
    position: absolute !important;
    background-color: var(--c-bg);
  }

  #theme_swap_indicator {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: none !important;
  }

  #theme_swap_indicator.animation {
    /* animation: rev-opacity-blink 1s ease-in-out 1 !important; */
    opacity: 1;
    animation: none !important;
  }
  
  #next_theme p, #theme_swap_indicator p {
      font-size: 0.5em;
      text-align: right;
      display: inline-block;
      max-width: min-content;
      line-height: 1rem;
  }

  #next_theme img, #theme_swap_indicator img {
    display: inline-block;
  }

  #header {
    display: block;
    font-size: var(--text-font-size-M);
  }

  #header .emoji-block {

    display: block;
    margin: 0 0 -40px 0;
    width: min-content;

  }

  .title_with_emoji::before {

    position: relative;
    display: inline-block;
    margin-left: 0px;
    margin-right: 10px;

  }

  #sidenav {
    display: none;
  }

  .title_with_emoji {
    margin-left: 40px;
  }

  .title_with_emoji::before {
    position: absolute;
    left: 0px;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 10px;
    margin-top: -13px;
    background-color: var(--c-bg);
  }

  .title_with_emoji.activeSection {
    margin-top: 50px;
  }

  .title_with_emoji.activeSection::before {
    position: fixed;
    top: 13px;
  }

  #header .emoji-block {
    /* transition: 0.3s; */
    display: inline-block;
  }

  #header .emoji-block.activeSection {
    position: fixed;
    left: 0px;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 10px;
    margin-top: -13px;
    background-color: var(--c-bg);
    top: 13px;
    transform: rotate( 0.0deg);
    animation: none;
  }

  #header .emoji-block.activeSection h1 {
    margin: 0px;
    font-size: var(--title-font-size);
    margin-left: -3px;
    margin-right: 3px;
  }

  .mobile-only {
    display: block;
  }

  #header .emoji-block.mobile-only {
    display: inline-block;
  }

  body {
    text-align: left
  }

}

@media (max-width:460px) {

  h1 {
    font-size: 10vw;
  }

  #header {
    margin-left: -5vw;
    margin-right: -5vw;
    width: 100vw;
  }

}

/* NPR STUFF */

#nprtable {
  height: 380px;
  max-height: 380px;
  min-height: 380px;
  margin: 0;
  text-align: center;
  table-layout:fixed;
  margin: auto;
}

#nprtable td {
  width: 50%;
}

#nprtable td img {
  height: 380px;
  margin: 0;
  object-fit: contain;
}

#next_theme, #theme_swap_indicator {
    z-index: 2;
    position: fixed;
    top: 2rem;
    right: 0.8rem;
    font-size: 2rem;

    cursor: pointer;
    text-align: right;
}

#theme_swap_indicator {
  opacity: 0;
  pointer-events: none;
}

#theme_swap_indicator.animation {
  animation: theme_swap_anim 0.8s ease-in-out 1;
}

#next_theme.animation {
  animation: opacity-blink 1s linear 1;
}

@media (hover: hover) {
  #next_theme:hover.animation img {
    animation: opacity-blink 1s linear 1, tilt-shaking 0.25s linear 4;
  }

  #next_theme:hover img {
    animation: tilt-shaking 0.25s linear 4;
  }
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

@keyframes theme_swap_anim {
  0% { transform: translateY(0.5em); opacity: 0; }
  40% { transform: translateY(0em); opacity: 1; }
  70% { transform: translateY(0em); opacity: 1; }
  100% { transform: translateY(-0.5em); opacity: 0; }
}

@keyframes opacity-blink {
  0% { opacity: 1; }
  20% { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes linear-opacity-blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes rev-opacity-blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#themes_dev_div {
  display: block;
  font-weight: bold;
}


.posts {
  display: flex;
  flex-wrap: wrap;
  max-width: 100ch;
  width: 100%;
  margin: auto;
}

article.post {
  background-color: gray;

  flex-grow: 0;

  flex: 1 0 21%; /* explanation below */
  margin: 5px;
}

article img {
  width: 100%;
  border-radius: 25px;
}

/* article.post_flat img {
  display: none;
} */

article.post_flat {
  border-bottom: solid var(--c-elem-bg-pop) 0.1em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  width: 100%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

article.post_flat h1 {
  font-size: 2em;
  margin-top: 0em;
}

article.post_flat p {
  font-size: 1.2em;
}

article.post_flat a {
  text-decoration: none;
  color: var(--c-font);
}

article.post_flat:hover a {
  text-decoration: underline;
  color: var(--c-less-pop);
}

article.post_flat:hover p {
  color: var(--c-less-pop);
}

article.post_flat .date {
  color: var(--c-pop);
  font-weight: 700;
  letter-spacing: .08em;
  margin-bottom: 0;
}


article.post_flat:hover .date {
  color: var(--c-hover-pop);
}

@media (min-width: 1000px) {

  .posts {
    max-width: 120ch;
  }

  article.post_flat:hover {
    transform: translateX(2em);
  }

  p.blog_blurb {
    max-width: 120ch !important;
    font-size: 1.5em !important;
  }
  article.post_flat .date {
    display: inline-block;
    margin-right: 20%;
    position: relative;
    vertical-align: top;
    width: 20%;
    text-align: right;

  }
  article.post_flat .date::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    margin-left: 1em;
    margin-top: -2px;
    width: 40%;
    height: 3px;
    background: var(--c-pop);
  }

  article.post_flat div.article_text_div {
    display: inline-block;
    width: 55%;
  }
}

/* MATHJAX */
mjx-container[jax="SVG"] > svg a {
  /* make equation ref same as a tag */
  fill: var(--c-link) !important;
  stroke: var(--c-link) !important;
  cursor: pointer;
}
mjx-container {
  /* stop overflow of equation making mobile window larger, allow for scroll instead */
  max-width: 100% !important;
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 0 !important;
}

/* add padding to scrolling */
h1,h2,h3,h4,h5,h6,g {
  scroll-margin-top: 2em;
}

/* .posts .post h1:not(.emoji) {
  text-align: left;
  display: inline-block; 
  flex-grow: 4;
  margin-top: 0;
  margin-bottom: 0;
}

.posts .post h1 a {
  color: black;
  text-decoration: none;
}

.posts .post h1.emoji {
  display: inline-block; 
  font-size: 3rem; 
  margin-right: 1rem; 
  margin-bottom: 0rem;
  margin-top: 0;
}

.posts .post > div {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;

  max-height: 20ch;
}

.posts .post .post_blurb {
  align-items: end;
}

.posts .post .post_blurb {
  margin-left: 4.5rem;
}

.posts .post .date {
  flex-shrink: 0;
  font-weight: bold;
  font-size: 1rem;
  height: 100%;
  margin-left: 2rem;
}

.posts .post .post_blurb p {
  margin-top: 1rem;
  text-align: left;
  margin-bottom: 0;
  max-height: 6ch;
}

.posts .button_box {
  flex-shrink: 0;
  margin-bottom: 0.5rem;
}

.posts .post .more_button {
  margin-left: 2rem;
  color: black; 
  background-color: #f6f6f6;
  padding: 0.4rem; 
  text-decoration: none; 
  font-size: 0.8em; 
  font-weight: bold;

  transition: background ease-in-out 0.3s,color ease-in-out 0.1s;
}

.posts .post .more_button:hover {
  background-color: var(--pop); 
  color: #f6f6f6; 
} */