<!DOCTYPE html>
<html lang="en">

<head>

    {%- include head.html -%}

    <link rel="stylesheet" type="text/css" href="/resources/css/blog.css">

    {% include mathjax.html %}
    {% include rouge_colors.html %}

    {% seo %}

    <script src="/resources/toc.js"></script>

</head>

<body id="body">

    <div class="pageMobileBar"></div>
    <div class="pageLine"></div>
    {% include blog_top_left_logo.html %}

    <div id="themes_dev_div"></div>

    <div id="flex_article">

        <div id="toc">

            <nav>

                <div>
                    <div>
                        <b>
                            <a href="#body">
                                {{ page.title | markdownify }}
                            </a>
                        </b>
                        <br/>
                        <div class="nav_content_label">
                            <h2>📕 Contents</h2>
                            <a class="hide_button" id="hide_toc" onclick="toggle_toc()">hide</a>
                        </div>
                        
                            <div id="autofill_toc">
                                {% include toc.html html=content h_max=3 %}
                            </div>
                    </div>

                </div>

            </nav>

        </div>

        <div id="article_container">

            <div>
                
                <span class="article_date" style="margin-left: 3rem;">
                    {% assign d = page.date | date: "%-d" %}
                    {% case d %}{% when "1" or "21" or "31" %}{{ d }}ST{% when "2" or "22" %}{{ d }}ND{% when "3" or "23" %}{{ d }}RD{% else %}{{ d }}TH{% endcase %}
                    {{ page.date | date: "%B" | upcase }}
                    {{ page.date | date: "%Y" | upcase }}
                </span>
                <h1 class="blog_title">
                    <span style="display: inline-flex;">
                        <span class="pop blog_title_emoji" style="margin-right: 1rem; width: 2rem; text-align: right;">{{page.emoji}} </span>
                        <span style="display: inline-block;">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' | strip }}</span>
                    </span>
                </h1>
                
                <span class="title_separator"></span>
                <br/><br/>

                <div id="content">
                    {{ content }}
                </div>

                <br/><br/><br/>
                {% include subscribe.html %}


            </div>

        </div>

        <div id="article_right_col">
        </div>

    </div>

    {%- include theme_dice.html -%}

</body>

</html>