---
color: default
---

<!DOCTYPE html>
<html lang="en">
  <head>

    {%- include head.html -%}

    {% seo %}

  </head>

  <body id="body" class="{{ page.color }}">

    <div class="pageLine"></div>

    <div id="themes_dev_div">

    </div>

    {% if page.include_side_nav %}
      {% include nav.html %}
    {% endif %}

    {{ content }}

    <div id="next_theme" onclick="swap_theme()">
      🎲
    </div> 
    <div id="theme_swap_indicator" onclick="swap_theme()">
      🎨
    </div> 

    {% include lazy_loading.html %}

  </body>

</html>
